html, body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

header{
	background: black;
	height: 65px;
	border-bottom: 1px solid black; 
	width: 100%;
	z-index: 10;
	position: fixed;
	box-shadow: 2px 3px 2px grey;
	color: black;
}

.left-nav{
	float: left;
}

.right-nav{
	float: right ;
}

.navbtn{
	font-size: 16px;
	color:white;
	width: 120px;
	border: none;
	border-left: 1px solid lightgrey;
	height: 65px;
	box-shadow: 3px 2px 1px grey;
	background: black;
}

.navbtn:hover{
	background: red;
	transition: 0.5s;
}

.container{
	min-height: 100%;
}

.main{
	margin-left: 150px;
	margin-right: 150px;
	overflow: auto;
	padding-bottom: 100px;
}

footer
{
	background: black;
	height: 50px;
	margin-top: -50px;
	clear: both;
	color: white;
	text-align: center;
	font-family: courier;
}
