body{
	margin: 0px;
	padding: 0px;
}

header{
	top: 0px;
	height: 65px;
	border-bottom: 1px solid black; 
	width: 100%;
	background-color: #343434;
	box-shadow: 2px 3px 2px grey;
	position: fixed;
	z-index: 10;
}

.left-nav{
	float: left;
}

.right-nav{
	float: right ;
}

.navbtn{
	font-size: 16px;
	color:white;
	width: 122px;
	border: none;
	border-left: 1px solid grey;
	height: 65px;
	box-shadow: 3px 2px 1px grey;
	background: #343434;
}

.navbtn:hover{
	background-color: red;
	transition: 0.5s;
}

.navigation{
	float: left;
	border-right: 1px solid black;
	height: 100%;
	width: 160px;
	background: black;
	position: fixed;
	top: 65px;
}

.navigbtn{
	width: 150px;
	border: none;
	border-bottom: 1px solid black;
	height: 50px;
	background: black;
	color: white;
}

.navigbtn:hover{
	background: #0078FF;
	transition: 0.3s;
}

.data{
  float: left;
  width: 86%;
  height: 500px;
}

.logbtn{
	width: 160px;
	border: none;
	border-bottom: 1px solid black;
	height: 58px;
	background: #C2CEDC;
	position: fixed;
}

.logbtn:hover{
	background: red;
	transition: 0.3s;
}

.button{
	width: 100px;
	height: 40px;
	border: none;
	background: #0077FF;
	color: white;
}

table{
	margin-top: 20px;
	margin-left: 260px; 
	width: 82%;
	height: 200px;
}

tr{
	padding: 20px;
}

.container{
	margin-top: 65px;
	margin-left: 20px;
	text-align: center;
}

.new{
	width: 100%;
	height: 140px;
}

.box{
	border: 1px solid #BABABA;
	width: 100%;
	height: 130px;
	padding: 5px;
}

.textt{
	width: 50%;
	height: 200px;
}