body{
	margin: 0px;
	padding: 0px;
}

header{
	background: #C2CEDC;
	height: 50px;
	border-bottom: 1px solid black; 
}

.left-nav{
	float: left;
}

.right-nav{
	float: right;
}

.navbtn{
	width: 120px;
	border: none;
	border-left: 1px solid black;
	height: 50px;
	background: #C2CEDC;
}

.navbtn:hover{
	background: #0078FF;
	transition: 0.3s;
}

.navibtn{
	width: 160px;
	border: none;
	border-bottom: 1px solid black;
	height: 50px;
	background: #C2CEDC;
}

.navibtn:hover{
	background: #0078FF;
	transition: 0.3s;
}

.navigation{
	float: left;
	border-right: 1px solid black;
	height: 605px;
	width: 160px;
	background: #172A3F;
}

.data{
  float: left;
  width: 86%;
  height: 500px;
}

.logbtn{
	width: 160px;
	border: none;
	border-bottom: 1px solid black;
	height: 56px;
	background: #C2CEDC;
}

.logbtn:hover{
	background: red;
	transition: 0.3s;
}