body{
	padding: 0px;
	margin: 0px;
	background-color: lightgrey;
}

header{
	height: 80px;
	border-bottom: 1px solid black; 
	width: 100%;
	background-color: white;
	box-shadow: 2px 3px 2px grey;
	position: fixed;
	z-index: 10;
}

table,th,tr,td{
    border:1px solid #483D8B;
    border-right: none; 
    border-collapse: collapse;
    padding:10px;
}

.left-nav{
	float: left;
}

.right-nav{
	float: right ;
}

.navbtnn{
	border: none;
	border-right: 1px solid black;
	background: none;
	float: left;
	width: 80px;
	height: 80px;
	display: block;
}

.navbtn{
	color:white;
	width: 120px;
	border: none;
	border-left: 1px solid lightgrey;
	height: 80px;
	box-shadow: 3px 2px 1px grey;
	background: black;
}

.navbtn:hover{
	background: #0078FF;
	transition: 0.3s;
}

tr{
	height: 70px;
}

.navbtn:hover{
	background: #0078FF;
	transition: 0.3s;
}


.navigation{
	margin-top: 80px;
	float: left;
	border-right: 1px solid black;
	height: 100%;
	width: 160px;
	background: black;
	position: fixed;
}


.reply{
	background-color: #C6E4E6;
	border:1px solid #7EBEC2;
	width:100px;
	height:40px;
}
.change{
	background-color: #97A7CB;
	border:1px solid #7284AB  ;
	width:100px;
	height:40px;
}

.footer
{
	background: black;
	height: 50px;
	margin-top: -50px;
	clear: both;
	color: white;
	text-align: center;
	font-family: courier;
	margin-top: 6.7%;
}